.nav-bar {
    background: #181818;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.nav-bar.logo {
    display: block;
    padding: 8px 0;
 }

.nav-bar img {
    display: block;
    margin: 8px auto;
    width: 40px;
    height: auto;
}
.nav-bar img.initials {
    border-radius: 20px;
}
.nav-bar img.n-logo {
    width: 50px;
}
nav {
    display: block;
    text-align: center;
    height: 210px;
    position: absolute;
    top: 25%;
    width: 100%;
    margin-top: -140px;
}

nav a {
    font-size: 25px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: #ffd700;
}

nav a:hover::after {
    opacity: 1;
}

nav a:after {
    content: '';
    font-size: 9px;
    letter-spacing:2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.homeLink:hover::after {
    content: 'HOME';
}
.aboutLink:hover::after {
    content: 'ABOUT';
}
.contactLink:hover::after {
    content: 'CONTACT';
}
.linkedinLink:hover::after {
    content: 'LINKEDIN';
}
.githubLink:hover::after {
    content: 'GITHUB';
}
.instaLink:hover::after {
    content: 'INSTAGRAM';
}
.workLink:hover::after {
    content: 'PROJECTS';
}
.resumeLink:hover::after {
    content: 'RESUME';
}

nav a.active svg {
    color: #ffd700;
}
nav a.active:hover {
    color: black;
    background-color: #ffd700;
}
