/* .home-page h1 img {
    width: 32px;

} */

.home-page .text-zone {
    position: absolute;
    left: 10%;
    top:50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    text-align: left;
}

.home-page h1 {
    color: #fff;
    font-size:50px;
    line-height: 52px;
    margin: 0;
    font-family: Cambria;
    font-weight: 400;
    text-align: left;
}

.home-page img {
    width: 32px;
    margin-left: 20px;
    opacity:0;
    height:auto;
    animation: rotation 1s linear both;
    animation-delay: 1.4s;
} 

.flat-button{
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
}

.flat-button:hover {
    background: #ffd700;
    color: #333
}