h1 {
    font-size: 53px;
    font-family: Franklin Gothic Medium;
    color: #ffd700;
    font-weight: 400;
    margin-top: 25px;
    position: relative;
    margin-bottom: 40px;    
    left: 10px;
    text-decoration: underline;
    }

    .portfolio-page {
        padding-left: 100px;
        padding-right: 50px;
        width: calc(100%-150px);
        height: 100%;
        overflow:auto;
    }